<div class="appPosts">
        {{#each partials}}
                <div class="blogpost">
                  <name>{{name}}</name> </br>
                  <img src="{{pic}}" > {{posting}} </br>
                  <date>{{date}}</date>
               </div>
        {{/each}}
</div>