<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="myStyle.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Acme Auction Barn</title>
</head>
<body>
<h2>Acme Auction Barn</h2>
<a href="/">Home</a>
<hr>
{{{body}}}
</body>
</html>
