<form action="/">

<left>
<h4>Buyer</h4>
<a href="/addnewbuyer" class="btn btn-info" role="button">Add new buyer</a></br></br>
<a href="/settlebuyer" class="btn btn-info" role="button">Settle out buyer</a></br></br>
<a href="/animaltransfer" class="btn btn-info" role="button">Buyer animal transfer</a></br></br>

</left>
<right>
<h4>Seller</h4>
<a href="/adddockcard" class="btn btn-info" role="button">Add dock card</a></br></br>
<a href="/settleseller" class="btn btn-info" role="button">Settle out seller</a>
</right>

</form>
