<a href="/">home</a>
<hr>
<h3>Enter your pathetic ramblings here</h3>

<form action="postnewpost" method="post">
<input type="hidden" name="username" value={{newname}} >

<textarea rows="10" cols="50" name="posting" >
</textarea>

<br><br>
<br>
<input type="submit" value="Post">
</form>
